#header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    z-index: 100000;
}

.logo {
    height: 60px;
    line-height: 60px;
    color: #12334e;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    padding-left: 20px;
    cursor: pointer;
}

#toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #004390;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active {
    background-color: #d2001a;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}

#navbar {
    position: relative;
    height: 60px;
    right: 60px;
    background: #fff;
    transition: 0.5s;
    width: 0;
    overflow: hidden;
}

#navbar.active {
    width: 760px;
}

#navbar ul {
    position: relative;
    display: flex;
}

#navbar ul li {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

#navbar ul li i {
    color: #004390;
    cursor: pointer;
}

.fal.fa-search {
    margin-top: 20px;
    margin-bottom: 20px;
}

#navbar ul li a {
    font-family: 'Roboto', sans-serif;
    position: relative;
    text-decoration: none;
    color: #004390;
    height: 60px;
    line-height: 60px;
    font-weight: 300;
    font-size: 1.1em;
    display: inline-block;
    transition: 0.6s;
    letter-spacing: 2px;
    padding: 0 5px;
}

#navbar ul li:hover {
    color: #fff;
    background: #004390;
    transition: 0.6s;
}

#navbar ul .li-hover i {
    color: #fff;
}

#navbar ul .li-hover a {
    color: #fff;
}

/* Now make it responsive */
@media (max-width: 991px) {
    #navbar {
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.6s;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 60px);
    }

    #navbar.active {
        height: calc(100vh - 60px);
        bottom: 0;
        width: 100%;
    }

    #navbar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}