<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <style>
        #main {
            width: 100%;
            padding-top: 70px;
        }
    </style>
</head>
<body>
<th:block th:include="/menu"></th:block>
<div id="main">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Check-in</th>
            <th scope="col">Check-out</th>
        </tr>
        </thead>
        <tbody th:each="attendance, i: ${attendanceList}">
        <tr>
            <th scope="row" th:text="${i.index + 1}"></th>
            <td>
                <a style="color: #004390;" th:href="@{/user}" th:text="${attendance.employee.employeeName}"></a>
            </td>
            <td th:text="${attendance.checkIn}"></td>
            <td th:text="${attendance.checkOut}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>