<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <style>
        #main {
            width: 100%;
            height: calc(100vh - 60px);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            margin-bottom: 15px;
        }

        .form-container div {
            display: grid;
            grid-template-columns: 30% 70%;
            margin: 10px 5px;
        }

        .flex-display {
            display: flex !important;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        input {
            border: none;
            background-color: #EDEDED;
            border-radius: 5px;
            padding: 5px;
        }

        #login-btn {
            padding: 10px 20px;
            background-color: #ff763d;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }
    </style>
</head>
<body>
<th:block th:include="/menu"></th:block>
<div id="main">
    <div class="container">
        <h1>Enter email and password</h1>
        <p th:if="${hasError}" class="error" style="margin: 10px 0 0; color: red" th:text="${messageError}"></p>
        <form class="form-container" th:action="@{/form_login}" method="POST">
            <div>
                <label for="emailTxt">Email: </label>
                <input id="emailTxt" name="username" type="text">
            </div>
            <div>
                <label for="passwordTxt">Password: </label>
                <input id="passwordTxt" name="password" type="password">
            </div>
            <div class="remember-me flex-display">
                <label for="remember">Remember &nbsp; </label>
                <input id="remember" name="remember" type="checkbox">
            </div>
            <div class="flex-display">
                <a th:href="@{/forgot_password}">Forgot your password?</a>
                &nbsp
                <a th:href="@{/register}" style="color: #d2001a;">Register</a>
            </div>
            <div class="flex-display">
                <label for="login-btn"></label>
                <input id="login-btn" th:type="submit" th:value="Login">
            </div>
        </form>
    </div>
</div>
</body>
</html>