<link rel="stylesheet" href="/assets/css/menu.css">
<link rel="stylesheet" href="/assets/vendor/font-awesome-pro-master/css/all.css">
<div xmlns:th="http://www.thymeleaf.org" id="header">
    <a class="logo" th:href="@{/}">
        BAP
    </a>
    <div id="toggle"></div>
    <div id="navbar">
        <ul>
            <li><i class="fal fa-home-alt"></i><a th:href="@{/}">Home</a></li>
            <li th:if="${#request.userPrincipal == null}"><i class="fal fa-user"></i><a th:href="@{/user}">User</a></li>
            <li th:if="${#request.userPrincipal == null}"><i class="fal fa-user-lock"></i><a th:href="@{/admin}">Admin</a></li>
            <li th:if="${#request.userPrincipal != null}"><i class="fal fa-badge-check"></i><a th:href="@{/user/check-in}">Check-in</a></li>
            <li th:if="${#request.userPrincipal != null}"><i class="fad fa-badge-check"></i><a th:href="@{/user/check-out}">Check-out</a></li>
            <li th:if="${#request.userPrincipal != null}"><i class="fal fa-clipboard-user"></i><a th:href="@{/user/list-attendance}">List Attendance</a></li>
            <li th:if="${#request.userPrincipal != null}"><i class="fal fa-sign-out"></i><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    const header = document.getElementById('header');
    const toggle = document.getElementById('toggle');
    const navbar = document.getElementById('navbar');
    const li = $("li");

    li.mouseenter(function () {
        $(this).addClass('li-hover');
    });

    li.mouseleave(function () {
        $(this).removeClass('li-hover');
    });

    document.onclick = function (e) {
        if (e.target.id !== 'header' && e.target.id !== 'toggle' && e.target.id !== 'navbar') {
            toggle.classList.remove('active');
            navbar.classList.remove('active');
        }
    }

    toggle.onclick = function () {
        toggle.classList.toggle('active');
        navbar.classList.toggle('active');
    }
</script>
