<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Register Success</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <style>
        #main {
            width: 100%;
            height: calc(100vh - 60px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<th:block th:include="/menu"></th:block>
<div id="main">
    <div class="container text-center">
        <h3>You have signed up successfully!</h3>
        <p>Please check your email to verify your account.</p>
        <h4><a th:href="@{/login}">Click here to Login</a></h4>
    </div>
</div>
</body>
</html>