<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>User Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <style>
        #main {
            width: 100%;
            height: calc(100vh - 60px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<th:block th:include="/menu"></th:block>
<div id="main">
    <div>
        <h1>Welcome user page</h1>
        Employee:
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Code Language</th>
                <th scope="col">Site Office</th>
                <th scope="col">Role</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" th:text="${employee.email}"></th>
                <td th:text="${employee.employeeName}"></td>
                <td th:text="${employee.codeLanguage}"></td>
                <td th:text="${employee.siteOffice}"></td>
                <td th:text="${employee.employeeRole}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>