<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verify Success</title>
</head>
<body>
<div class="container text-center">
    <h3>Congratulations, your account has been verified.</h3>
    <h4><a th:href="@{/login}">Click here to Login</a></h4>
</div>
</body>
</html>